VITE_FIREBASE_API_KEY=AIzaSyCheXluwKdWjpLqXPkVF-I0S_lhtN-7Mb0
VITE_FIREBASE_AUTH_DOMAIN=mystery-9918e.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mystery-9918e
VITE_FIREBASE_STORAGE_BUCKET=mystery-9918e.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=649384039257
VITE_FIREBASE_APP_ID=1:649384039257:web:6d813590ff67edf17a7248
VITE_FIREBASE_MEASUREMENT_ID=G-2B6PS5BYE9
